fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
python-dotenv
httpx
reportlab
passlib[bcrypt]
python-jose[cryptography]
python-multipart
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langgraph
langchain-chroma
chromadb
langchain-huggingface
openai-whisper
moviepy
pdfplumber
docx2txt
beautifulsoup4
celery
sentence-transformers
