fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
celery
redis
python-multipart
python-jose[cryptography]
passlib[bcrypt]
fastapi-mail
langchain
langgraph
langchain-community
langchain-text-splitters
langchain-ollama
python-pptx
langchain-openai
langchain-anthropic
langchain-google-genai
chromadb
langchain-chroma
langchain-huggingface
langchain-groq
pydantic
pydantic-settings
python-dotenv
httpx
PyMuPDF
openai-whisper
moviepy
opencv-python
tesseract
sentence-transformers
docx2txt
